.page-container {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 320px 1120px;
    grid-template-areas:
      'menu-block main-block'
      'menu-block main-block'
      'menu-block main-block'
      'menu-block footer-block';
  }
  justify-content: center;
  position: relative;
}

.sidebar-container {
  @media (min-width: 1440px) {
    grid-area: menu-block;
  }
}

.main-page {
  @media (min-width: 1440px) {
    grid-area: main-block;
  }
}

.footer-block {
  @media (min-width: 1440px) {
    grid-area: footer-block;
  }
}
