.brand-list-container {
  position: relative;
  height: 140px;
  overflow: hidden;
  @media (min-width: 768px) {
    height: 190px;
  }
  &--opened {
    @media (min-width: 768px) {
      position: relative;
    }
  }
}

.brand-list {
  padding-left: 16px;
  padding-top: 16px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 16px;
  }
  &__item {
    width: 240px;
    height: 72px;
  }
  &__link {
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding: 16px;
    background-color: #ffffff;
    background-image: url('../img/Go.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 90% 50%;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    @media (min-width: 768px) {
      width: 224px;
      height: 72px;
      padding: 16px;
    }
  }
}

.brand-list .brand-list__item {
  @media (min-width: 768px) {
    width: 224px;
    height: 72px;
  }
}

.swiper-pagination {
  @media (min-width: 768px) {
    display: none;
  }
}
