.red-button {
  width: 119px;
  height: 32px;
  box-sizing: border-box;
  padding-left: 18px;
  padding-top: 3px;
  text-align: left;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  background-color: #ff3e79;
  border-radius: 15px;
  background-image: url('../img/Dropdown.png');
  background-repeat: no-repeat;
  background-position: 88% 50%;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
  }
  &--form {
    align-self: flex-end;
  }
  &--price {
    position: absolute;
    left: 125px;
    top: 150px;
    @media (min-width: 768px) {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
    }
  }
  &__text {
    text-transform: uppercase;
    display: block;
    align-self: center;
    color: white;
    font-weight: 500;
    font-size: 12px;
  }
}
