.repair-block {
  box-sizing: border-box;
  min-width: 320px;
  // height: 100%;
  background-color: #f8f8f8;
  border-top: 0.4px solid #d9fff5;
  @media (min-width: 768px) {
    min-width: 768px;
    // height: 100%;
    padding-bottom: 20px;
  }
  @media (min-width: 1440px) {
    max-width: 1440px;
    // height: 100%;
    margin: 0 auto;
  }
}

.heading-block {
  box-sizing: border-box;
  min-width: 320px;
  background-image: linear-gradient(to right, #f8f8f8 40%, #ffffff 100%);
  @media (min-width: 768px) {
    min-width: 768px;
  }
  &__title {
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
    color: #7e7e82;
    text-transform: uppercase;
  }
}

.repair-list-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  @media (min-width: 768px) {
    height: 360px;
  }
  &--opened {
    @media (min-width: 768px) {
      position: relative;
    }
  }
}

.repair-list {
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 52px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 16px;
    row-gap: 16px;
    column-gap: 24px;
  }
  &__item {
    width: 240px;
    height: 160px;
    box-sizing: border-box;
  }
  &__link {
    display: flex;
    justify-content: start;
    align-items: top;
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    padding: 16px;
    background-color: #ffffff;
    background-image: url('../img/Go.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 90% 85%;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    @media (min-width: 768px) {
      width: 224px;
      height: 160px;
      padding: 16px;
    }
  }
}

.repair-list .repair-list__item {
  @media (min-width: 768px) {
    width: 224px;
    height: 160px;
  }
}

/* Повышаю специфичность селектора, чтобы эти стили были в приоритете перед библиотечными,
т.к. там специфиичность задана через селектор дочерних элементов*/
.repair-block .swiper-pagination {
  bottom: 18px;
}

.show-more-repair-button {
  display: none;
  @media (min-width: 768px) {
    display: block;
    background-color: #f8f8f8;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 24px;
    width: 150px;
    height: 20px;
  }
  &__text {
    font-family: 'TTLakes', 'Arial', sans-serif;
    color: #1b1c21;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-wrap: nowrap;
    padding-left: 25px;
    background-image: url('../img/Expand.png');
    background-repeat: no-repeat;
    background-position: 0 -1px;
  }
}

.swiper-pagination {
  @media (min-width: 768px) {
    display: none;
  }
}
