.round-button {
  display: flex;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  &__text {
    @media (min-width: 1440px) {
      display: inline;
      text-decoration: none;
      margin-right: 8px;
      height: 40px;
      white-space: nowrap;
      padding-top: 8px;
      color: #1b1c21;
      font-family: 'TTLakes', 'Arial', serif;
      font-style: normal;
    }
    &--hidden {
      display: none;
      @media (min-width: 1440px) {
        display: block;
      }
    }
  }
  &--burger {
    background-image: url('../img/Burger.png');
  }
  &--profile {
    background-image: url('../img/Profile.png');
  }
  &--call {
    background-image: url('../img/Call.png');
  }
  &--chat {
    background-image: url('../img/Chat.png');
  }
  &--search{
    background-image: url('../img/Search.png');
  }
  &--repair {
    background-image: url('../img/Repair.png');
    @media (min-width: 1440px) {
      display: flex;
      justify-content: flex-start;
      width: 190px;
      height: 40px;
      background-position: 95%;
    }
  }
  &--checkstatus {
    background-image: url('../img/Checkstatus.png');
    @media (min-width: 1440px) {
      display: flex;
      justify-content: flex-start;
      width: 190px;
      height: 40px;
      background-position: 95%;
    }
  }
  &--close {
    background-image: url('../img/Close.png');
  }
  &--close-menu {
    @media (min-width: 1440px) {
      display: none;
    }
  }
  &--close-form {
    @media (min-width: 1440px) {
      display: block;
    }
  }
}
